<div class="d-flex">
  <div>
    
    <div>
      <h1>User info</h1>
      <%= image_tag @user.get_profile_image(100, 100) %>
      <h3><span>name</span>  <%= @user.name %></h3>
      <h3><span>introduction</span>  <%= @user.introduction %></h3>
      <%= link_to edit_user_path(current_user.id) do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>
    
    <div>
      <h1>New book</h1>
      <%= form_with model: @book do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
  </div>
  
  <div>
    <h1>Books</h1>
    
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <td>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag book.user.get_profile_image(100, 100) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          <% end %>
        </tbody>
      </table>
  </div>
</div>