<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>

<div class="container">
  <div class="row d-flex">
    <div class="col-md-3">
      <%= render 'user', user: @user, book: @new_book %>
    </div>
    <div class="offset-md-1 col-md-8">
      <h1>Book detail</h1>
      <table class="table">
          <tbody>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100, 100), class: "d-block" %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user.id == current_user.id %>
              <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-success" %></td>
              <td><%= link_to 'Destroy', book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
              <% if @book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorite_path(@book), method: :delete do %>
                    ♥<%= @book.favorites.count %> いいね
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorite_path(@book), method: :post do %>
                    ♡<%= @book.favorites.count %> いいね
                  <% end %>
                </td>
              <% end %>
            <% end %>
            <td>コメント件数：<%= @book.post_comments.count %></td>
          </tbody>
      </table>
      <div>
        <% @book.post_comments.each do |post_comment| %>
          <div class="d-flex mb-3">
            <div>
              <p class="m-0"><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
              <%= post_comment.user.name %>
            </div>
            <div class="m-2">
              <%= post_comment.comment %>
            </div>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment),class: "m-2", method: :delete %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @post_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに", class: 'w-100' %>
          <%= f.submit "送信", class: 'd-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>